<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktualizuj Grę</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <main class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column justify-content-center align-items-center">
        <%- include('nav.ejs') %>
        <div class="shadow p-3 bg-dark-secondary w-75">
            <h4 class="text-center text-danger-secondary">Dodaj nową grę</h4>
            <h6>Aktualizuj Grę</h6>
            <form  class="p-4 " action='/gry/<%= game._id%>/aktualizuj' method='post'>
                <div class="mb-3">
                        <label for="_id" class="form-label">ID gry</label>
                        <input type="text" class="form-control" name="_id" required value='<%= game._id%>' disabled>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Tytuł</label>
                    <input type="text" class="form-control" name="title" required value='<%= game.title%>'>
                </div>
                <div class="mb-3">
                    <label for="studio" class="form-label">Studio</label>
                    <input type="text" class="form-control" name="studio" required value='<%= game.studio%>'>
                </div>
                <div class="mb-3">
                    <label for="releaseDate" class="form-label">Data premiery</label>
                    <input type="date" class="form-control" name="releaseDate" required value='<%= new Date(game.releaseDate.getTime() - (game.releaseDate.getTimezoneOffset()-60000)).toISOString().split('T')[0]%>'>
                </div>
                <button type="submit" class='btn btn-outline-light'>Aktualizuj Grę</button>
            </form>
        </div>
    </main>
</body>
</html>